table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 1px solid #5475fb;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #5475fb;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b70a19;
    color: #976cbd;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #f2f2f2;
    font-size: 175px;
    position: fixed;
    height: 100%;
    transform: rotate(-90deg);
}

.homebutton {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #f2f2f2;
    font-size: 55px;
}

.homebg {
    object-fit: cover;
    float: left;
    /* background-color: #976cbd; */
}

.home {
    position: fixed;
    display: grid;
    columns: 1;
    height: 100%;
    width: 100%;
}

.results {
    display: grid;
    columns: 2;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}