.homebg {
    object-fit: cover;
    float: left;
    height: 100%;
}

.home {
    position: fixed;
    display: grid;
    width: 100%;
    text-align: center;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 7vh;
    grid-column: 1 / span 8;

}

.caption {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2vh;
    grid-column: 1 / span 8;
}

a {
    color: red;
    font-weight: bold;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 0px;
    padding: 0px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: yellowgreen;}

table th {
    text-align: left;
    background-color: transparent;
    color: black;
}

.homebutton {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 8vh;
    grid-column: 1 / span 8;
}

.band {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 2vh;   
}

.day {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 4vh;   
}

.day1 {
    grid-column: 1 / span 2;
}

.day2 {
    grid-column: 3 / span 2;
}

.day3 {
    grid-column: 5 / span 2;
}

.day4 {
    grid-column: 7 / span 2;
}

#myProgress {
    width: 100%;
    background-color: lightgray;
    grid-column: 3 / span 4;
}

#myBar {
    width: 37%;
    height: 3vh;
    background-color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    line-height: 30px; 
}

.littleday {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2vh;   
}

.littleday1 {
    grid-column: 3 / span 1;
}

.littleday2 {
    grid-column: 4 / span 1;
}

.littleday3 {
    grid-column: 5 / span 1;
}

.littleday4 {
    grid-column: 6 / span 1;
}

.goal {
    grid-column: 3 / span 4;
}
